.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: Helvetica Neue, Arial, sans-serif;
}

.header {
  height: 100vh;
  /*установка ограничений для секции */
  min-height: 600px;
  max-height: 756px;
  margin: 0 auto;
  padding: 0;
  /*позиционируем родительский элемент*/
  position: relative;
  /*для центрирования элемента title*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  /*поведение в зависимости от контекста - на малых разрешениях поверх др блоков*/
  position: absolute;
  z-index: 2;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  line-height: 96px;
  margin-left: 64px;
  /*вертикальное центрирование элемента*/
  align-self: center;
  z-index: 2;
}

.header__subtitle {
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  line-height: 25px;
  left: 64px;
  bottom: 30px;
  margin: 0;
  position: absolute;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  position: absolute;
}

.header__square-pic {
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  object-fit: contain;
}

.two-columns {
  padding-top: 100px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.table {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-right: 0;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  min-height: 790px;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 70px auto;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  margin: 0;
  z-index: 1;
}

.kaufman {
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 2;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
  margin: 60px auto 40px auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__author {
  color: white;
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column-heading {
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 20px 0;
}

.footer__column-links {
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.footer__column-link {
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
