.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: Helvetica Neue, Arial, sans-serif;
}

.header {
  height: 100vh;
  /*установка ограничений для секции */
  min-height: 600px;
  max-height: 756px;
  margin: 0 auto;
  padding: 0;
  /*позиционируем родительский элемент*/
  position: relative;
  /*для центрирования элемента title*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {

}

.logo_place_header {
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  /*поведение в зависимости от контекста - на малых разрешениях поверх др блоков*/
  position: absolute;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  line-height: 96px;
  margin-left: 64px;
  /*вертикальное центрирование элемента*/
  align-self: center;
}

.header__subtitle {
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  line-height: 25px;
  left: 64px;
  bottom: 30px;
  position: absolute;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  position: absolute;
  background-image: url(../images/header-image.png);
  background-size: 100%;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  object-fit: contain;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}
